form action="/build/new" method="post"
    input type="text" name="part" placeholder="Namn på del"
    input type="text" name="part_id" placeholder="ID för del"
    input type="submit" value="Påbörja ett projekt"